html {
  position: relative;
}

.UXD-520-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.4;
  z-index: 10;
}

.se-search-layout-bar.js-sidebar {
  z-index: 11;
}